body {
    font-family: sans-serif;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
        top:0px;
    background-color: white;
    padding: 10px;
}

.navMenu {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    
}

.logoHeader {
    width: 200px;
    align-items: center;
}

.hero {
    width: 100%;
    background: url(../images/landing.jpg);
    background-size: 100%;
    background-position: center;
    height: 600px;
    display: grid;
    place-items: center;
    grid-row-gap: 0;
    color: white;
    text-align: center;
  
}

h1 {
    font-size: 4rem;
    margin: 0;
}

.hero p {
    font-size: 1.7rem;
}


/*features*/

.features h2 {
    font-size: 1.7rem;
    text-align: center;
    text-decoration: 3px underline #00B172;
    text-underline-offset: 0.5em;
}
.featuresContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 1rem;
}
.featureArticle img {
    width: 100px;
}
.featureArticle h3 {
    color: #00B172;
}

.featureArticle p {
    2em;
}

.featureArticle {
    
    width: 15%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*kanye*/

.kanye {
    background-color: #00B172;
    
}

.kanyeFlex {
    display: flex;

}

.logoCenter {
    width: 100px;
    position: absolute;
}

.spotifyAppImage {
    
}